<title class="ng-cloak">Cyber Challenge</title>
<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left" flex-xs="100">
	<md-toolbar  class="md-accent md-whiteframe-z2">
		<md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn" ui-sref="main.home">
			<img ng-src="/favicons/android-chrome-512x512.png" style="max-height: 60px;"/>
		</md-button>
	</md-toolbar>
	<md-button layout="row" layout-gt-sm="column" layout-align="start center" layout-align-gt-sm="center center" flex ui-sref-active="md-accent" ui-sref="main.quiz">
		<!--<div class="md-tile-content">
			<i class="material-icons md-36">test</i>
		</div>-->
		<div flex="5" hide-gt-sm></div>
		<div class="md-tile-content">
			Quiz
		</div>
	</md-button>
	<md-button layout="row" layout-gt-sm="column" layout-align="start center" layout-align-gt-sm="center center" flex ui-sref-active="md-accent" ui-sref="main.questions">
		<div flex="5" hide-gt-sm></div>
		<div class="md-tile-content">
			Question Management
		</div>
	</md-button>
</md-sidenav>
<div layout="column" flex>
	<md-toolbar layout="row" layout-align="center center">
		<section layout-align="start center" layout-fill flex class="md-toolbar-tools">
			<md-button hide-gt-sm ng-click="main.toggleItemsList()" aria-label="Menu">
				<i class="material-icons">menu</i>
			</md-button>
			<div class="" >
				Cyber Challenge
			</div>
		</section>
	</md-toolbar>
	<md-content flex layout="roww" class="md-padding page-content">
		<div ui-view flex></div>
	</md-content>
	<md-toolbar layout="row" layout-align="center center" style="min-height: 40px;">
		<div layout-align="center center" layout-fill flex class="md-toolbar-tools" layout="column" style="font-size: small;">
			<div>Powered by <a href="https://github.com/legoguy1000/cyberChallenge" target="_blank">Cyber Challenge</a></div>
			<!--<div ng-show="main.versionInfo.current_version">
				<span ng-if="main.versionInfo.branch_name=='dev'">Dev:</span>
				<span>v{{main.versionInfo.current_version}}</span><span ng-if="main.versionInfo.branch_name=='dev'">-<a ng-href="https://github.com/legoguy1000/FRC-Portal/commit/{{main.versionInfo.tag}}" target="_blank">{{ main.versionInfo.tag | limitTo: 7 }}</a></span>
			</div>-->
		</div>
	</md-toolbar>
</div>
