<div layout="column" flex>
	<md-content flex layout="row" layout-align="center center">
		<h2 class="">Quiz<span ng-show="vm.quizStarted && vm.quizOver"> Over</span><span ng-show="vm.quizStarted && !vm.quizOver"> Running</span></h2>
	</md-content>
	<md-content flex layout="column" layout-align="center center" ng-show="vm.loading">
		<md-progress-circular ng-disabled="!vm.loading" md-diameter="96"></md-progress-circular>
		<div>{{vm.loadingMessage}}</div>
	</md-content>
	<md-content flex layout="row" ng-hide="vm.quizStarted || vm.loading">
		<form ng-submit="vm.startQuiz()" flex layout="column" layout-gt-sm="row" name="vm.quizParamsForm">
			<md-input-container flex>
				<label>Category (Defaults to All)</label>
				<md-select ng-model="vm.quizParams.categories" multiple>
					<md-option ng-repeat="cat in vm.categories" ng-value="cat.category_id">{{cat.name}}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex>
				<label>Number of Questions</label>
				<md-select ng-model="vm.quizParams.count" required>
					<md-option ng-repeat="int in [1,5,10,15,20,25,30]" ng-value="int">{{int}}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex>
				<label>Time per Question</label>
				<md-select ng-model="vm.quizParams.time" required>
					<md-option ng-repeat="int in [5,10,15,20,25,30]" ng-value="int">{{int}}</md-option>
				</md-select>
			</md-input-container>
			<md-button type="submit" class="md-primary md-raised">
				<md-tooltip md-direction="top">Start Quiz</md-tooltip>
				Start Quiz
			</md-button>
		</form>
	</md-content>
	<md-content flex layout="column" ng-show="vm.quizStarted && !vm.quizOver && !vm.loading">
		<md-content flex layout="row" layout-align="space-between center">
			<div>
				<h3 class="">Question {{vm.currentQuestionIndex + 1}} of {{vm.questions.length}} </h3>
			</div>
			<div>
				<h3 class="">{{vm.timer}}</h3>
			</div>
		</md-content>
		<div ng-show="vm.questions[vm.currentQuestionIndex].hint_1 != ''">
			{{vm.questions[vm.currentQuestionIndex].hint_1}}
		</div>
		<div ng-show="vm.questions[vm.currentQuestionIndex].hint_2 != ''">
			{{vm.questions[vm.currentQuestionIndex].hint_2}}
		</div>
		<div ng-show="vm.questions[vm.currentQuestionIndex].hint_3 != ''">
			{{vm.questions[vm.currentQuestionIndex].hint_3}}
		</div>
		<md-content flex layout="row" layout-align="space-between center" layout-wrap style="margin-top:50px;">
			<md-button flex="45" type="button" ng-repeat="a in vm.questions[vm.currentQuestionIndex].answers track by $index" ng-click="vm.answerQuestion(a);this.blur();" style="text-transform:inherit;" ng-disabled="vm.answersDisabled">
				<md-tooltip md-direction="top">Answer {{vm.answerOptions[$index] | uppercase}}</md-tooltip>
				<b>{{vm.answerOptions[$index] | uppercase}}: </b>{{a.answer}}
			</md-button>
		</md-content>
	</md-content>
	<md-content flex layout="column" ng-show="vm.quizStarted && vm.quizOver && !vm.loading">
		<div ng-repeat="question in vm.questions track by $index">
			Question {{$index+1}}: <span ng-if="vm.answerResults.answers[question.question_id]">Correct</span><span ng-if="!vm.answerResults.answers[question.question_id]">Incorrect</span>
		</div>
		<div>
			<b>Total: {{vm.answerResults.correct_answers}} / {{vm.answerResults.total}} ({{vm.answerResults.correct_answers/vm.answerResults.total | percentage}})</b>
		</div>
		<md-content flex layout="row" layout-align="space-between center">
			<md-button type="button" ng-click="vm.startOver()" class="md-primary md-raised">
				<md-tooltip md-direction="top">Reset Quiz</md-tooltip>
				Reset
			</md-button>
		</md-content>
	</md-content>
</div>
